.row-fluid
  .span7.offset1
    %h1 About

.row-fluid
  .span7.offset1

    %p Hello, my name is Amarinh Kongmanivong. I am a designed objects student at The School of the Art Institute of Chicago. For my final project I joined GFRY Studio to design for our beautiful city of Chicago. To engage our community I designed a social project that allows us to be proactive in planting Gerbera Daisies. 

    %h3 Why Gerbera daisies? 
    %p Not only are they brightly colored and organic, they will lift our spirits not only by their beauty, these flowers take in high levels of toxins and in return release an enormous amount of oxygen. 
    %p As the community takes a seed bomb and plants it in their desired location I hope they will connect with others who will enjoy the beauty of this project. I’ve designed clear acrylic (10) 5" x 5" x 5" cubes which contains (125) 1 x 1" x 1" cubes. Each cube contains a Gerbera Daisy Seed bomb. 

    %h3 Did you know?
    %p Flowering plants such as gerbera daisy and chrysanthemums were rated superior in removing benzene from the chamber atmosphere.

    %h3 What is benzene?
    %p Benzene is a very commonly used solvent and is also present in many common items including gasoline, inks, oils, paints, plastics, and rubber. In addition it is used in the manufacture of detergents, explosives, pharmaceuticals, and dyes.

    %p Benzene has long been known to irritate the skin and eyes. In addition, it has been shown to be mutagenic to bacterial cell culture and has shown embryotoxic activity and carcinogenicity in some tests. Evidence also exists that benzene may be a contributing factor in chromosomal aberrations and leukemia in humans. Repeated skin contact with benzene will cause drying, inflammation, blistering and dermatitis.

    %h3 How do I join?

    %ol
      %li plant your daisy seed bomb
      %li 
        go to 
        %a{:href => '/form'} chicagocube.org/form
      %li 
        fill out the form with a name and location
      %li write down the unique tag we give you
      %li take a picture on Instagram and tag it
      %li tell a friend!

    %h3 Contact us
    %p
      Do you have any questions or would like to know more about this project? 
      %a{:href => 'mailto:justamarinh+cube@gmail.com'} Email Amarinh

  .span3
    %ul.thumbnails
      %li.text-center
        %a{:href => '/assets/chicagocube1.jpg'}
          %img.img-polaroid{:src => '/assets/chicagocube1.jpg'}
      %li
        %a{:href => '/assets/chicagocube3.jpg'}
          %img.img-polaroid{:src => '/assets/chicagocube3.jpg'}
      %li
        %a{:href => '/assets/chicagocube5.jpg'}
          %img.img-polaroid{:src => '/assets/chicagocube5.jpg'}
      %li
        %a{:href => '/assets/chicagocube6.jpg'}
          %img.img-polaroid{:src => '/assets/chicagocube6.jpg'}