.row-fluid
  .span7.offset1
    %h1 Contact us

.row-fluid
  .span7.offset1
    %p
      Do you have any questions or would like to know more about this project? 
    %p
      %br
      Amarinh Kongmanivong
      %br
      phone: (336) 906-6375
      %br
      email: <a href='mailto:justamarinh@gmail.com'>justamarinh@gmail.com</a>
      %br
      website: <a href='http://amarinhdesigns.com'>amarinhdesigns.com</a>