- content_for :javascripts do

  :javascript
    var flowers = #{@flowers_json};

    LeafletLib.initialize(
      $("#map")[0],
      { },
      [ 41.8781136, -87.66677956445312 ],
      11
    );

    var flowerIcon = L.icon({
      iconUrl: "/assets/little.png",
      iconSize: [ 32, 33 ],
      shadowUrl: "/assets/square-shadow.png",
      shadowSize: [ 40, 26 ],
      shadowAnchor: [ 10, 5 ],
      popupAnchor: [ 0, -10 ]
    });

    var flowercount = 0;
    for(var flower in flowers){
      var pt = new L.LatLng( flowers[flower].latitude, flowers[flower].longitude );
      var marker = new L.Marker( pt, { icon: flowerIcon } )
        .bindPopup('<a href="/flower/' + flowers[flower].id + '"><h4>' + flowers[flower].name + '</h4>' + latestPhoto( flowers[flower] ) + '</a>');
      LeafletLib.addMarker( marker );

      if(latestPhoto(flowers[flower]) != ""){
        flowercount++;
        if(flowercount < 6){
          $("#recentlist").append("<li class='span2'><a href='/flower/" + flowers[flower].id + "' class='thumbnail'>" + latestPhoto(flowers[flower]) + "</a></li>");
        }
      }
    }
    LeafletLib.fitFeatures();

    function latestPhoto(flower){
      if(flower.photos && flower.photos.length){
        return "<img alt='" + flower.name + "' title='" + flower.name + "' src='" + flower.photos[0].images.thumbnail.url + "'/>";
      }
      else{
        return "";
      }
    }

.row-fluid
  .span12
    #map
    %hr
    %ul.thumbnails
      #recentlist