- content_for :javascripts do

  :javascript
    $(window).resize(function(){
      var h = $(window).height(),
        offsetTop = 70;
      $("#map").css({'height': (h - offsetTop)});
    }).resize();

    var flowers = #{@flowers_json};

    LeafletLib.initialize(
      $("#map")[0],
      { },
      [ 41.8781136, -87.66677956445312 ],
      11
    );

    var flowerIcon = L.icon({
      iconUrl: "/assets/flowers.png",
      iconSize: [ 32, 33 ],
      shadowUrl: "/assets/square-shadow.png",
      shadowSize: [ 40, 26 ],
      shadowAnchor: [ 10, 5 ]
    });

    for(var flower in flowers){
      var pt = new L.LatLng( flowers[flower].latitude, flowers[flower].longitude );
      LeafletLib.addBoundedPoint( pt );
      var marker = new L.Marker( pt, { icon: flowerIcon } )
        .bindPopup('<a href="/flower/' + flowers[flower].id + '"><h4>' + flowers[flower].name + '</h4></a>' + flowers[flower].address)
        .addTo(LeafletLib.map);
    }
    LeafletLib.fitFeatures();

.row-fluid
  .span8
    #map
  .span4
    .well
      %h4
        Find flowers
        %span.hasgeolocation
          (
          %a#find_me{ :href => "#" } near me
          )
      %input#search_address.input-block-level{ :type => "text", :placeholder => "Enter an address or an intersection" }
      %label
        within
        %select#search_radius.input-small
          %option{ :value => "400" } 2 blocks
          %option{ :value => "805" } 1/2 mile
          %option{ :value => "1610" } 1 mile
          %option{ :value => "3220" } 2 miles
      %input#search.btn.btn-primary{ :type => "button", :value => "Search" }
      
    .well
      %h4 Recent flowers

      - @flowers[0..3].each do |f|
        - f.instagram_photos[0..0].each do |photo|
          %a{:href => "/flower/#{f.id}"}
            %img.img-polaroid{:alt => f.name, :title => f.name, :src => photo.images.thumbnail.url }
