- content_for :javascripts do

  :javascript
    $(window).resize(function(){
      var h = $(window).height(),
        offsetTop = 70;
      $("#map").css({'height': (h - offsetTop)});
    }).resize();

    var flowers = #{@flowers_json};

    LeafletLib.initialize(
      $("#map")[0],
      { },
      [ 41.8781136, -87.66677956445312 ],
      11
    );

    for(var flower in flowers){
      var pt = new L.LatLng( flowers[flower].latitude, flowers[flower].longitude );
      LeafletLib.addBoundedPoint( pt );
      var marker = new L.Marker( pt )
        .bindPopup('<a href="/flower/' + flowers[flower].id + '"><h4>' + flowers[flower].name + '</h4></a>' + flowers[flower].address)
        .addTo(LeafletLib.map);
    }
    LeafletLib.fitFeatures();

.row-fluid
  .span8
    #map
  .span4
    .well
      %h3 Recent flowers

      %ul
        - @flowers[0..2].each do |f|
          %li
            %h4
              %a{:href => "/flower/#{f.id}"}
                = f.name
            = f.address
