- content_for :javascripts do

  :javascript
    var flowers = #{@flowers_json};

    LeafletLib.initialize(
      $("#map")[0],
      { },
      [ 41.8781136, -87.66677956445312 ],
      11
    );

    var flowerIcon = L.icon({
      iconUrl: "/assets/little.png",
      iconSize: [ 32, 33 ],
      shadowUrl: "/assets/square-shadow.png",
      shadowSize: [ 40, 26 ],
      shadowAnchor: [ 10, 5 ],
      popupAnchor: [ 0, -10 ]
    });

    var flowercount = 0;
    var flower_popup = new L.Popup();

    var openMarker = function(marker, flower){
      flower_popup.setLatLng( marker.getLatLng() )
        .setContent('<a href="/flower/' + flower.id + '"><h4>' + flower.name + '</h4>' + latestPhoto( flower ) + '</a>')
        .openOn(LeafletLib.map);

      $("#flower_" + flower.id + " a").css({
        "border-color": "#0a0",
        "border-width": "4px"
      });
    };
    var enableMarker = function(marker, flower){
      marker.on('click', function(e){
        openMarker(marker, flower);
      });
      marker.on('mouseover', function(e){
        openMarker(marker, flower);
      });
    };


    for(var flower in flowers){
      var pt = new L.LatLng( flowers[flower].latitude, flowers[flower].longitude );
      var marker = new L.Marker( pt, { icon: flowerIcon } );
      enableMarker(marker, flowers[flower]);
      LeafletLib.addMarker( marker );

      if(latestPhoto(flowers[flower]) != ""){
        flowercount++;
        if(flowercount < 6){
          $("#recentlist").append("<li id='flower_" + flowers[flower].id + "' class='span2'><a href='/flower/" + flowers[flower].id + "' class='thumbnail'>" + latestPhoto(flowers[flower]) + "</a></li>");
          $("#flower_" + flowers[flower].id).on('mouseover', function(e){
            openMarker(marker, flowers[flower]);
          });
          $("#flower_" + flowers[flower].id).on('mouseout', function(e){
            $("#flower_" + flowers[flower].id + " a").css({
              "border-color": "rgb(221,221,221)",
              "border-width": "1px"
            });
            map.removeLayer( flower_popup );
          });
          marker.on('mouseout', function(e){
            $("#flower_" + flowers[flower].id + " a").css({
              "border-color": "rgb(221,221,221)",
              "border-width": "1px"
            });
          });
        }
      }
    }
    LeafletLib.fitFeatures();

    function latestPhoto(flower){
      if(flower.photos && flower.photos.length){
        return "<img alt='" + flower.name + "' title='" + flower.name + "' src='" + flower.photos[0].images.thumbnail.url + "'/>";
      }
      else{
        return "";
      }
    }

.row-fluid
  .span12
    #map
    %hr
    %ul.thumbnails
      #recentlist
